<div class="users_index_main_container" >
<% if @users %>
  <% @users.each do |user| %>
    <div class="user_container" >
      <div class="user_photo_container" >
        <img src='<%= user.photo %>' a='user profile picture'>
      </div>
      <div class="user_profile_container" >
        <p class="user_name" ><%= user.name %></p>
        <p class="user_post_counter">Number of posts: <%= user.posts_counter %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <h2>No Users</h2>
<% end %>
</div>