<h1>Here is a list of users</h1>
<p>Find me in app/views/user/index.html.erb</p>
<% if @users %>
  <% @users.each do |user| %>
    <div>
      <div>
        <%= user.photo %>
      </div>
      <div>
        <%= user.name %>
        <%= user.posts_counter %>
      </div>
    </div>
  <% end %>
<% else %>
  <h2>No Users</h2>
<% end %>